<div class="footer">
    <div class="foot-ele">
        <div class="first-foot-ele">
            <ul>
                <li style="color: rgb(255, 255, 255); font-weight: 700;">Company</li>
                <li><a href="#">About</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">For the record</a></li>
            </ul>
        </div>
        <div class="second-foot-ele">
            <ul>
                <li style="color: rgb(255, 255, 255); font-weight: 700;">Communities</li>
                <li><a href="#">For Artists</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">Investors</a></li>
                <li><a href="#">Vendors</a></li>
            </ul>
        </div>
        <div class="third-foot-ele">
            <ul>
                <li style="color: rgb(255, 255, 255); font-weight: 700;">Useful links</li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Free Mobile App</a></li>
            </ul>
        </div>
        <div class="forth-foot-ele">
            <ul>
                <li style="color: rgb(255, 255, 255); font-weight: 700;">Spotify plans</li>
                <li><a href="#">Premium Individual</a></li>
                <li><a href="#">Premium Duo</a></li>
                <li><a href="#">Premium Family</a></li>
                <li><a href="#">Premium Student</a></li>
                <li><a href="#">Spotify Free</a></li>
            </ul>
        </div>
        <div class="five-foot-ele">
            <div class="ficon">
                <a href="#"><i class="fa-brands fa-facebook"></i></i></a>
            </div>
            <div class="ficon">
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
            <div class="ficon">
                <a href="#"><i class="fa-brands fa-instagram" style="margin-left: 0.6rem;"></i></i></a>
            </div>
        </div>
    </div>
    <div class="foot"></div>
</div>
<div class="uf">
    <div class="under-footer">
        <ul>
            <li><a href="#" style="margin-left: 0.4rem;">Legal</a></li>
            <li><a href="#">Safety & Privacy Center</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">About Ads</a></li>
            <li><a href="#">Accessibility</a></li>
        </ul>
    </div>
    <div class="copy">
        <p style="color: white;">&copy;2024 Spotify AB</p>
    </div>
</div>